.begin {
	background-color: grey;
}

.openingp {
	margin: auto;
	font-size: 1.2em;
	padding-bottom: 10px;
}

.profilepic {
	display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 15px;
}

.globe {
	width: 200px;
	padding-bottom: 15px;
}

.tpic {
	width: 10%;
}

.ctr {
	text-align: center;
}

.panel-footer {
	text-align: center;
	font-size: .75em;
	color: white;
	background-color: #2B3233;
}

h2 {
	padding-bottom: 15px;
}

#aboutme {
	font-weight: 500;
}

.wrapper .text {
	position:relative;
	text-align: center;
	color: white;
	background-color: grey;
	opacity: 0.8;
	bottom:30px;
	left:0px;
	visibility:hidden;
}

.wrapper:hover .text {
	visibility:visible;
}

@media only screen and (max-width: 700px) {
#boogerButt {
	float: left;
	margin-top: 210px;
	margin-left: -240px;
	}
}

@media only screen and (min-width: 701px) and (max-width: 850px) {
#boogerButt {
	width: 60%;
	margin-left: 50px;
	}
}